.formulario {
    height: 100%;
    margin: 15px;
    h1 {
        @include titulos(1.5em);
        margin-bottom: 3vh;
        &::after {
            content: "X";
            cursor: pointer;
            position: absolute;
            right: 50px;
            font-weight: bolder;
        }
    }
    h2 {
        @include titulos(1.1em);
    }

    ::placeholder {
        color: $corSecundaria;
    }
    input, p {
        @include descricoes;
    } 
    input {
        border: 0;
        height: 50px;
        margin-left: 0;
        padding: 15px;
    }

    &__icone {
        display: flex;
        height: 50px;
        &__select-box {
            display: flex;
            height: 50px;
            justify-content: flex-end;
            position: absolute;
            right: 15px;
            width: 100%;
            p {
                margin-left: 45px;
            }
            &__file {
                @include botoes(#bbb, -webkit-fill-available);
                height: 50px;
            }
        }
        .files-dropzone-active .formulario__icone__select-box{
            border: 2px dashed #122ad08c;
            box-shadow: 0px 0px 10px 0px #4454c1ba;
        }
    }

    &__cor {
        display: flex;
        &__select-color {
            @include botoes(#2d2d2d, 45%);
        }
        &-caixa {
            position: absolute;
        }
        &-caixa--fecha {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    select {
        color: $corSecundaria;

        background: #fff;
        border: 0;
        height: 50px;
        padding: 15px;
        width: -webkit-fill-available;
    }

}

.preview {
    height: 100%;
    margin: 15px;
    h2 {
        @include titulos(1.1em);
    }
    
    &__corpo {
        align-items: center;
        display: flex;
        margin-bottom: 20px;
        &--caixa {
            align-items: center;
            align-self: baseline;
            background: #191919;
            display: flex;
            height: 200px;
            justify-content: center;
            margin-right: 15px;
            width: 150px;
            .files-gallery {
                display: flex;
                justify-content: center;
                height: 50%;
                &-item {
                    width: 50%;
                }
            }
        }
        & h2 {
            margin-left: 5vw;
        }
        &--descricao {
            p:not(.small) {
                @include descricoes;
            }
            p.small {
                @include titulos(.9em);
                margin-left: 5vw;
            }
        }
    }

    button {
        @include botoes(#bbb, 100%);
        height: 50px;
    }
}