@import './_partials/variables';
@import './_partials/mixins';
@import '../../components/form/Form';
@import '../../components/preview/Preview';

html, 
body, 
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}