.conteudo-principal {
  display: flex;
  flex-direction: column;
}

.formulario {
  height: 100%;
  margin: 15px;
}
.formulario h1 {
  color: #6d6d6d;
  font-family: sans-serif;
  font-size: 1.5em;
  margin-bottom: 3vh;
}
.formulario h1::after {
  content: "X";
  position: absolute;
  right: 10px;
  font-weight: bolder;
}
.formulario h2 {
  color: #6d6d6d;
  font-family: sans-serif;
  font-size: 1.1em;
}
.formulario ::placeholder {
  color: #cacaca;
}
.formulario input, .formulario p {
  color: #cacaca;
  font-family: sans-serif;
  font-size: 1em;
  margin-left: 5vw;
  width: -webkit-fill-available;
}
.formulario input {
  border: 0;
  height: 50px;
  margin-left: 0;
  padding: 15px;
}
.formulario__icone {
  display: flex;
}
.formulario__icone__select-file {
  color: #fff;
  font-family: sans-serif;
  background: #bbb;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  width: 80%;
}
.formulario__cor {
  display: flex;
}
.formulario__cor__select-color {
  color: #fff;
  font-family: sans-serif;
  background: #2d2d2d;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  width: 45%;
}
.formulario__cor-caixa {
  position: absolute;
}
.formulario__cor-caixa--fecha {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.formulario select {
  color: #cacaca;
  background: #fff;
  border: 0;
  height: 50px;
  padding: 15px;
  width: -webkit-fill-available;
}

.preview {
  height: 100%;
  margin: 15px;
}
.preview h2 {
  color: #6d6d6d;
  font-family: sans-serif;
  font-size: 1.1em;
}
.preview__corpo {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.preview__corpo--caixa {
  align-items: center;
  align-self: baseline;
  background: #191919;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-right: 15px;
  width: 150px;
}
.preview__corpo h2 {
  margin-left: 5vw;
}
.preview__corpo--descricao p:not(.small) {
  color: #cacaca;
  font-family: sans-serif;
  font-size: 1em;
  margin-left: 5vw;
  width: -webkit-fill-available;
}
.preview__corpo--descricao p.small {
  color: #6d6d6d;
  font-family: sans-serif;
  font-size: 0.9em;
  margin-left: 5vw;
}
.preview button {
  color: #fff;
  font-family: sans-serif;
  background: #bbb;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .formulario__icone__select-file {
    width: 45%;
  }
  .formulario__cor__select-color {
    width: 25%;
  }

  .preview__corpo--caixa {
    width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  #root {
    background-color: #eff9fb;
    padding: 10vh 0 !important;
  }
  #root .conteudo-principal {
    background: #fff;
    border: 1px solid #6d6d6d;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 30px 30px;
  }
  #root .conteudo-principal .formulario {
    width: 45%;
  }
  #root .conteudo-principal .preview {
    border-left: 1px solid #cccccc94;
    margin-top: 62px;
    padding: 30px 50px;
    width: 30%;
  }
  #root .conteudo-principal .preview__corpo {
    flex-direction: column;
  }
  #root .conteudo-principal .preview__corpo--caixa {
    width: -webkit-fill-available;
  }
  #root .conteudo-principal .preview__corpo--descricao {
    width: -webkit-fill-available;
  }
  #root .conteudo-principal .preview__corpo--descricao h2, #root .conteudo-principal .preview__corpo--descricao p {
    margin-left: 0 !important;
  }
  #root .conteudo-principal .preview button {
    width: 50%;
    margin-left: 25%;
  }
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=main.css.map */
